# Homework 4 - Group #24
## 1) Does basic house information reflect house's description?

Our goal is to implement two clustering and compare the results. We create two datasets and each of them will be filled by data that we scraped.

First of all, we import the following libraries.

In [1]:
import time # For time sleep() Method
import pandas as pd
import requests #requests.get
from urllib.request import urlopen
from bs4 import BeautifulSoup

### Scraping
Web scraping using **Beautiful Soup** library.

In [32]:
print ("Start : %s" % time.ctime())
numb_ann = 10
df1 = pd.DataFrame(columns=['Price', 'Locali', 'Superficie', 'Bagni', 'Piano'] )
count = 1
i = 1
while count < numb_ann:
    url = "https://www.immobiliare.it/vendita-case/roma/?criterio=rilevanza&pag="+str(i)
    html = urlopen(url)
    soup = BeautifulSoup(html, 'lxml')
    mydivs = soup.find_all("div", {"class": "listing-item_body--content"})
    i +=1
    for a in mydivs:
        ann = "announcement_"+ str(count)
        data = a.find_all("li", {"class":"lif__item"})
        #while len(data) == 6 and count <= numb_ann:
        if len(data) == 6 and count <= numb_ann:
            pr = price(data)
            loc = locali(data)
            mq = superficie(data)
            bath = bagni(data) 
            floor = piano(data)
            l = [pr, loc, mq, bath, floor]
            print(l)
            df = pd.DataFrame([l], columns=['Price', 'Locali', 'Superficie', 'Bagni', 'Piano'])
            count +=1
            df1 = pd.concat([df1, df], ignore_index=True) 
    # time.sleep(720)
print ("End : %s" % time.ctime())

Start : Sun Dec  2 18:07:25 2018
['225.000', '2', '50', '1', '1']
['375.000', '3', '120', '1', '3']
['68.000', '2', '20', '1', '0']
['450.000', '5', '150', '2', '3']
['315.000', '3', '92', '2', '5']
['269.000', '4', '131', '2', 'A']
['1.599.000', '5', '270', '3', 'R']
['579.000', '5', '160', '2', '2']
['385.000', '3', '100', '3', '2']
['940.000', '5', '200', '3', 'A']
End : Sun Dec  2 18:07:31 2018

In [33]:
df1

       Price Locali Superficie Bagni Piano
0    225.000      2         50     1     1
1    375.000      3        120     1     3
2     68.000      2         20     1     0
3    450.000      5        150     2     3
4    315.000      3         92     2     5
5    269.000      4        131     2     A
6  1.599.000      5        270     3     R
7    579.000      5        160     2     2
8    385.000      3        100     3     2
9    940.000      5        200     3     A

In [25]:
def price(d):
    try:
        price = d[0].contents[0].replace("\n", "").replace("€ ","").strip()
    except:
        price = d[0].contents[0].get_text().replace("\n", "").replace("€ ","").strip()

    return price

In [26]:
def locali(d):
    local = d[1].get_text().replace("\xa0","").replace("+", "").replace("locali", "").strip()
    return local

In [27]:
def superficie(d):
    superf = d[2].get_text().replace("da ","").replace("\xa0m2","").replace("superficie","").strip()
    return superf

In [28]:
def bagni(d):
    bath = d[3].get_text().replace("\xa0","").replace("+", "").replace("bagni", "").strip()
    return bath

In [29]:
def piano(d):
    floor = d[4].get_text().replace("\xa0", "").replace("\n","").replace("T","0").replace("piano","").strip()
    return floor